*{
margin: 0;
padding: 0;
font-family: sans-serif;
}
nav {
height: 100px;
width: 100%;
background: #1abc9c;
padding-top: 30px;
padding-left: 15px;
}
#Lista_menu{
    list-style: none;
}
#Lista_menu > li{
display: inline-block;
color: #ffffff;  
font-weight:  bold;
margin-right: 25px;
}
#Lista_menu >li>a:hover{
padding-bottom: 4px;
border-bottom: 1px solid #ffffff;
}
#Lista_menu > li a{
    text-decoration: none;
    color: #ffffff;
}